<launch>

    <group ns="barge">
        <remap from="pose_real" to="pose_est"/>
        <remap from="imu" to="imu/imu"/>

        <!-- Man inputs -->
        <node pkg="bubble_man_inputs" name="key_listener" type="key_listener2.py"/>
        <node pkg="bubble_man_inputs" name="key_interpreter" type="key_interpreter2.py"/>

        <!-- Regulation -->
        <node pkg="bubble_reg" name="cmd_interpreter_Barge" type="cmd_interpreter_Barge.py"/>
        <node pkg="bubble_reg" name="regulation" type="regulation"/>
        <node pkg="bubble_reg" name="local_converter" type="local_converter"/>
        <node pkg="bubble_reg" name="path" type="path"/>

        <!-- Drivers -->
        <node pkg="bubble_reg" name="driver_maestro" type="driver_maestro.py"/>
        <group ns="gps">
            <node pkg="nmea_navsat_driver" name="gps_driver" type="nmea_serial_driver">
                    <param name="port" value="/dev/ttyUSB1"/>
                    <param name="baud" value="4800"/>
            </node>
        </group>
        <include file="$(find razor_imu_9dof)/launch/razor-pub-and-display.launch"/>

        <!-- Display -->
	    <node pkg="bubble_disp" name="display_python" type="display_python.py"/>

        <!-- Audio -->
        <node pkg="bubble_audio" name="soundProcess" type="soundProcess_node.py" output="screen"/>

    </group>

</launch>
