<launch>

    <group ns="barge">
        <remap from="pose_real" to="pose_est"/>

        <!-- Simu -->
        <node pkg="bubble_simu" name="sim_world" type="sim_world.py"/>

        <!-- Man inputs -->
        <node pkg="bubble_man_inputs" name="key_listener" type="key_listener2.py"/>
        <node pkg="bubble_man_inputs" name="key_interpreter" type="key_interpreter2.py"/>

        <!-- Regulation -->
        <node pkg="bubble_reg" name="cmd_interpreter_Barge" type="cmd_interpreter_Barge.py"/>
        <node pkg="bubble_reg" name="regulation" type="regulation"/>

        <node pkg="bubble_reg" name="path" type="path" output="screen"/>

        <!-- Audio -->
        <!-- <node pkg="bubble_audio" name="soundProcessing" type="soundProcess_node.py" output="screen"/> -->




        <!-- Display -->
        <node pkg="bubble_disp" name="display_python" type="display_python.py"/>

    </group>

</launch>
